In [1]:
import sys

import numpy as np
import pandas as pd

sys.path.append("../../")

from helpers.split import tag_label_feature_split, label_strings
from sklearn.preprocessing import LabelBinarizer

In [2]:
df = pd.read_pickle("../../datasets/baseline_dataset.pickle")
tags, one_hot_labels, features = tag_label_feature_split(df)

In [3]:
label_strings(one_hot_labels)

                labels
2            genre_pop
6           genre_rock
7            genre_pop
10          genre_rock
12     genre_classical
...                ...
55202        genre_pop
55204       genre_jazz
55205       genre_jazz
55208        genre_pop
55212       genre_jazz

[21351 rows x 1 columns]

In [4]:
one_hot_labels

,genre_blues,genre_classical,genre_country,genre_disco,genre_hiphop,genre_jazz,genre_metal,genre_pop,genre_reggae,genre_rock
2,0,0,0,0,0,0,0,1,0,0
6,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,0,1
12,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
55202,0,0,0,0,0,0,0,1,0,0
55204,0,0,0,0,0,1,0,0,0,0
55205,0,0,0,0,0,1,0,0,0,0
55208,0,0,0,0,0,0,0,1,0,0
55212,0,0,0,0,0,1,0,0,0,0

In [5]:
labels = label_strings(one_hot_labels)
labels

                labels
2            genre_pop
6           genre_rock
7            genre_pop
10          genre_rock
12     genre_classical
...                ...
55202        genre_pop
55204       genre_jazz
55205       genre_jazz
55208        genre_pop
55212       genre_jazz

[21351 rows x 1 columns]

In [6]:
lb = LabelBinarizer()

In [7]:
lb.fit_transform(labels)

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [8]:
lb.classes_

array(['genre_blues', 'genre_classical', 'genre_country', 'genre_disco',
       'genre_hiphop', 'genre_jazz', 'genre_metal', 'genre_pop',
       'genre_reggae', 'genre_rock'], dtype='<U15')

In [9]:
lb.inverse_transform(one_hot_labels.to_numpy())

array(['genre_pop', 'genre_rock', 'genre_pop', ..., 'genre_jazz',
       'genre_pop', 'genre_jazz'], dtype='<U15')