In [1]:
import sys

import numpy as np
import pandas as pd

sys.path.append("../../")

from helpers.split import tag_label_feature_split

In [2]:
df = pd.read_pickle("../../datasets/baseline_dataset.pickle")
tags, labels, features = tag_label_feature_split(df)

In [3]:
df.shape

(21351, 23)

In [4]:
labels.columns

Index(['genre_blues', 'genre_classical', 'genre_country', 'genre_disco',
       'genre_hiphop', 'genre_jazz', 'genre_metal', 'genre_pop',
       'genre_reggae', 'genre_rock'],
      dtype='object')

In [5]:
features.columns

Index(['mfcc_mean_0', 'mfcc_mean_1', 'mfcc_mean_2', 'mfcc_mean_3',
       'mfcc_mean_4', 'mfcc_mean_5', 'mfcc_mean_6', 'mfcc_mean_7',
       'mfcc_mean_8', 'mfcc_mean_9', 'mfcc_mean_10', 'mfcc_mean_11',
       'mfcc_mean_12'],
      dtype='object')

In [6]:
labels

,genre_blues,genre_classical,genre_country,genre_disco,genre_hiphop,genre_jazz,genre_metal,genre_pop,genre_reggae,genre_rock
2,0,0,0,0,0,0,0,1,0,0
6,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,0,1
12,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
55202,0,0,0,0,0,0,0,1,0,0
55204,0,0,0,0,0,1,0,0,0,0
55205,0,0,0,0,0,1,0,0,0,0
55208,0,0,0,0,0,0,0,1,0,0
55212,0,0,0,0,0,1,0,0,0,0

In [7]:
features

,mfcc_mean_0,mfcc_mean_1,mfcc_mean_2,mfcc_mean_3,mfcc_mean_4,mfcc_mean_5,mfcc_mean_6,mfcc_mean_7,mfcc_mean_8,mfcc_mean_9,mfcc_mean_10,mfcc_mean_11,mfcc_mean_12
2,-707.518066,172.924515,-9.369545,3.948954,1.980628,4.739360,-1.698852,-2.034302,-4.835680,-3.547155,-2.608504,0.434509,3.054020
6,-679.308899,113.101357,-11.290030,27.696062,-7.500221,2.523050,-6.960320,-0.077308,1.269921,7.885528,-6.977505,2.321134,5.545689
7,-644.655396,92.231018,51.315403,39.117119,13.334866,6.326947,1.615414,7.394960,1.892228,3.918750,6.074644,4.720181,3.495266
10,-638.950195,116.760223,-12.944778,29.781858,2.505325,6.105454,-0.822559,0.271074,2.930531,-1.431047,-5.334941,-2.703268,-0.756524
12,-727.369507,161.314056,-28.047831,16.271910,5.778194,10.153515,6.292103,0.406335,-2.448078,4.883832,2.249675,1.806720,3.662883
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55202,-663.076965,119.231514,26.110373,35.280354,11.771117,-1.575334,14.373231,-6.124588,-4.167463,11.461526,-17.325703,-6.534515,2.481009
55204,-704.559509,137.016068,21.475670,34.512798,3.327875,3.022218,5.146840,-0.011305,-3.082650,4.040233,-8.411946,-0.109806,-1.631008
55205,-691.049377,179.724976,25.448507,28.137154,19.806662,5.833863,-3.997207,-0.852162,4.942894,1.411409,8.806469,-1.794398,0.155427
55208,-831.944580,215.028198,73.213364,23.283628,11.257351,-1.969033,-2.790072,16.264069,3.572612,-2.867066,2.271188,5.062963,0.419973
55212,-777.413818,168.717896,-48.489017,24.383230,-13.587192,-8.077196,-11.460636,-0.533336,0.313295,4.970705,3.869617,-3.140786,1.940554